* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     scroll-behavior: smooth;
}

body {
    font-family: "open sans";
    width: 1360px;
    height: 4144px;
    margin: auto;
   
}

/* debut du header */

header {
    background: url(../assets/imgs/images/image_header.jpg);
    background-position: 1738px 1159px;
    height: 650px;
    /* max-width: 100%; */
    padding: 50px 125px 100px;
}

.name {
    /* width: 266px;
    height: 124px; */
    color: #fefefe;
    font-size: 40px;
    font-weight: 400;
}

.name span {
    font-weight: bold;
    height: 46px;
    width: 270px;
}

.logo hr {
    height: 5px;
    width: 80px;
    background: white;
}

.statut {
    font-weight: 300;
    color: #fefefe;
    margin-top: 30px;
}
#menu figure{
    height: 38px;
    width: 41px;
    visibility: hidden;
}

nav {
    height: 60px;
    float: right;
    font-weight: 300;
    margin-top: -140px
}

nav ul {
    list-style: none
}

nav ul li {
    display: block;
    height: 30px;
    text-align: center;
    line-height: 18px;
    float: left;
    margin-right: 30px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fefefe;
    display: block;
    background: transparent;
}

nav ul li:nth-child(4) {

    border-bottom: 5px #c83c81 solid;
}

h1 {
    color: #fefefe;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
}

h1 span {
    font-weight: 300;
}

.title {
    margin: 150px 255px;
}

.title img {
    height: 40px;
    width: 40px;
    margin: 110px 265px 0;
    transition: ease-in-out 1s;
}

@keyframes scroll {

    0%,
    100% {
        opacity: 50%;
    }

    50% {
        opacity: 20%;
    }
}

.title img:hover {
    animation: scroll;
    transform: translateY(50px);
    opacity: 20%;

}

/* fin du header */
/* debut du main*/
/* debut a propos */
#propos {
    padding: 100px 125px;
    background: #f3f3f3;
    height: 674px;
    display: flex;
}

#propos h2 {
    color: #282828;
    font-size: 35px;
    font-weight: 900;
}

hr {
    height: 5px;
    width: 80px;
    background: #dd8d0e;
    border: #dd8d0e;
    margin-top: 10px;
}

.moi {
    margin-top: 50px;
    width: 553px;
    height: 360px;
}

.moi p:first-child {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.moi p span {
    font-weight: 900;
}

.moi p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 20px;
}

.moi ul li {
    list-style-image: url(../assets/imgs/icones/puces.png);
    font-size: 20px;
    font-weight: bold;
    color: #282828;
}

.moi ul li span {
    color: #dd8d0e;
    border-bottom: solid 1px
}

.moi ul {
    margin-bottom: 20px;
    margin-left: 23px;
}

.picto img {
    height: 34px;
    width: 34px;
    margin-right: 5px;
}
#th, div.contenu1{
    width: 555px;
    height: 474px;
}
#th img{
    margin-top: -200px;
    width: 758px;
    height: 772px;
}
/* fin a propos */
/* debut competences */
#competences{
    height: 681px;
    background: #282828;
    padding: 100px 125px;
}
.competence{
    color: #f3f3f3;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
}
#competences hr{
    margin: auto;
    margin-top: 10px;
}
.maitrise {
    margin-top: 80px;
    color: #cccccc;
    font-weight: 400;
    font-size: 30;
    text-align: center;
}
.progress{
    display: flex;
    flex-direction: row;
}
.block2{
    margin-left: 30px;
}
.progressbar span{
    color: #cccccc;
    font-size: 100px;
    font-weight: bold;
}
.progressbar p{
    color: #f3f3f3;
    font-size: 20px;
    font-weight: bold;
}
.progressbar{
    width: 540px;
    height: 85px;
    display: flex;
    position: relative; 
    margin-top: 35px;
}
.part{
    margin-top: 60px;
    margin-left: 30px;
}
.barcontain{
    position: relative;
    width: 300px;
    height: 18px;
    background: #656565;
}
.bar{
    background: #c83c81;
    height: 18px;
}
.progressbar:first-child .barcontain .bar{
    width: 170px;
}
.progressbar:nth-child(2) .barcontain .bar{
    width: 150px;
}
.progressbar:last-child .barcontain .bar{
    width: 130px;
}
/* fin competences */
/* debut experiences */
#experiences{
    padding: 100px 110px;
    background: #f3f3f3;
    height: 1042px;
}
#experiences h2{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: #282828;
}
#experiences hr{
    margin: auto;
    margin-bottom: 20px;
}
.expcontain .expinfo{
    height: 330px;
    width: 520px;
    background: #282828;
    padding: 10px 30px;
    margin-left: 17px;
}
.expcontain .date{
    height: 70px;
    width: 175px;
    background: #dd8d0e;
    position: relative;
    top: 34px;
    text-align: center;
    padding-top:25px;
    color: white;
    font-size: 25;
    font-weight: bold;
}
/* .expcontain{
    height: 536px;
    width: 362px;
} */
.expinfo ul li{
    list-style-image: url(../assets/imgs/icones/puces.png);
    margin-left: 180px;
    color: #cccccc;
    font-size: 20px;
    font-weight: bold;
}
.expinfo p:nth-of-type(1){
    font-weight: 400;
    font-size: 10px;
    color: #8d8d8d;
    margin-left: 110px;
}
.expinfo p:nth-of-type(2){
    color: #cccccc;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    margin-top: 30px;
}
aside.exp{
    display: flex;
}
aside.exp .part2 {
 margin-left: 50px;
}
/* fin experiences */
/* debut realisation */
#realisations{
    padding: 100px 125px;
    height: 900px;
    background: #dadada;
}
#realisations figure img{
    height: 267px;
    width: 554px;
    margin: 0 280px 40px;
}
#realisations h2{
    font-weight: 900;
    color: #282828;
    font-size: 35px;
    text-align: center;
}
#realisations hr{
    margin: auto;
}
#realisations p{
    text-align: center;
    color: #282828;
    font-weight: 400;
    font-size: 20px;
    margin: 30px 0 50px;
}
/* fin realisations */
/* fin main */
/* debut footer */
footer{
    height: 206px;
    background: #f3f3f3;
    padding: 100px 125px;
}
footer p{
    color: #666666;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}
footer a{
    text-decoration: none;
    color: #282828;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
}
footer a:first-of-type{
    margin-left: 450px;
}

/* fin footer */

/*  media screen */
@media screen and (max-width: 640px){
    body{
        width: 640px;
    height: 4196px;
    margin: auto;

    }
    nav{
        display: none;
    }
    header{
        padding: 50px;
        height: 560px;
    }
    #menucontain{
    padding: 40px 20px 60px;
    position: relative;
    height: 100%;
    }
    #asidebar{
        position: absolute;
        left: -50px;
        top: 490px;
        bottom: 0;
        color: whitesmoke;
        width: 33%;
        min-width: 320px;
        max-width: 320px;
        border-bottom: 1px solid whitesmoke;
        border-top: 1px solid whitesmoke;
        /* transform: translateX(-100%); */
        transition: transform .3s ease-in-out;
    }
    a {
        color: inherit;
        text-decoration: none;
      }
    #asidebar.is-visible{
        transform: translateX(0%);
    }
    #nav{
        display: flex;
        flex-direction: column;
        height: 100%;
        float: none;
        color: whitesmoke;
    }
    /* #nav ul{
        height: 100%;
    } */
    #nav ul li{
        height: 135px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid whitesmoke;
        background: black;
        justify-content: center;
        font-size: 1.2rem;
        margin: auto;
        list-style: none;
        float: none;
    }
    #nav ul li:last-of-type{
        border-bottom: none;
    }
    #nav ul li:hover{
        color: darksalmon;
  background: #000000e6;
    }
   #menu figure{
     visibility: visible;
     left: 480px;
     position: relative;
     top: -110px;
     flex: 1;
   }
   #menu figure img{
    height: 38px;
    width: 41px;
    font-size: 1.5rem;
  cursor: pointer;
   }
   nav ul li:nth-child(4) {

    border-bottom: none;
}
   .title {
       text-align: center;
       margin: auto;
       margin-top: -450px;
   }
   .moi{
       margin-left: -70px;
   }
    #th{
        display: none;
    }
    #propos #contenu1{
        margin: auto;
    }
    #propos h2{
        text-align: center;
    }
    #propos hr{
        margin: auto;
    }
    .picto{
        margin-left: 38%;
    }
    .progress{
        display: flex;
        flex-direction: column;
        margin-left: -80px;
    }
    .block2{
        margin-left: -5px;
    }
    .part2{
        display: none
    }
    .exp{
        margin-left: -70px;
    }
    #realisations figure img{
        margin-left: -80px;
    }
    footer a:last-of-type{
       margin-right: 100px ;
    }
}